.dd-login-container,
.dd-login-container>div{
  height: 100vh;
  overflow: hidden;

  padding: 0px !important;
}
.dd-login-container{
  width: 100vw;
  overflow: hidden;
  margin: 0px !important;
}



.dd-login-logo{
  background-image: url("../../assets/img/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
  height: 80px;
  margin: 5% auto;
  margin-bottom: 2%;
  width: 150px;
 
}

.dd-login-left>div{
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}
.dd-login-left{
  padding-left: 5%;
  padding-right: 5%;

}
.dd-login-welcome{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  /* identical to box height */
  color: #000000;
  margin-top: 5%;
}
.dd-app-description>span,
.dd-login-welcome>span{
  color: #007DA5;
}
.dd-app-description{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #818293;
  margin-top: 10px;
  margin-bottom: 15px;

}

.dd-login-form>form>div{
  min-height: 100px;

  
}

.dd-login-form{
  max-width: 400px;


}
.dd-login-form div>input,
.dd-login-form button,
.dd-login-form div>label{
  width: 100%;
}

.dd-login-form button{
  background: #007DA5;
  height: 40px;
  border: none;
  box-shadow: 0px 10px 20px rgba(54, 115, 196, 0.15);
  border-radius: 6px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;

  color: #FFFFFF;
  margin-top: 15px;
  
}


.dd-login-form div>label{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  margin-top: 10px;
  margin-bottom: 10px;

  color: #000000;
}
.dd-login-form div>input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 10px;
  
  height: 35px;
  
  background: #D1ECF7;
  border-radius: 8px;
  border: none;
  outline: 1px solid #007DA5;
  
}
.label-error{
  font-size: 13px !important;
  color: red;
}
.label-error.backend{
  
  display: inline-block;
  height: 25px;
  width: 100%;
}
.dd-login-form div>input.focus-visible{
  border: 1px solid #007DA5;
}
.dd-input-error{
  height: 20px;
  margin-top: 5px;
}
button.disabled{
  background: #007DA59F;
}
.dd-terme-condition{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;

  /* Muted */

  color: #4B5563;
  margin-top: 5% ;
}
.dd-terme-condition>span{
  color: #007DA5;
}
.dd-copyright{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  bottom: 25px;
  position: absolute;
  left: 5%;
  color: #4B5563;
}
.dd-copyright>span{
  color: #007DA5;
}















.dd-login-rigth{

  background-image: url("../../assets/img/logo.png") ;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center;
  border-left: 1px solid #ccc;
}

.dd-login-carousel{
  height: 50vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  vertical-align: bottom;
  text-align: left;
  
}
.dd-login-carousel>div{
  position: absolute;
  bottom: 30px;
}

.dd-login-carousel .control-dots{
  text-align: right !important;
}


.dd-login-carousel .dd-carousel-title{
  font-style: normal;
  font-family: 'Helvetica';
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */

  letter-spacing: 0.15em;

  color: rgba(255, 255, 255, 0.6);
  text-align: left;
}

.dd-carousel-description{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  /* or 150% */
  text-align: left;

  color: #FFFFFF;
  min-height: 200px;
}


@media only screen and (max-height: 640px) {
  .dd-copyright{
    display: none;
  }
}


