.invf-paginate{
  display: flex;
  margin-top: 25px;
  z-index: 999;
}

.invf-paginate-text{
  font: 14px/1.2 Helvetica , sans-serif;
  color: #061624;
  letter-spacing: 0px;
  opacity: 0.69;
  padding-top: 8px;
  padding-left: 18px;
  z-index: 999;
}

.invf-paginate-btns{
  z-index: 999;
  margin-left: auto;
}

.invf-paginate-btns ul{
  text-decoration: none !important;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.invf-paginate-btns li{
  margin: 5px;
  display: flex !important;
  flex-direction: column;
}

.invf-paginate-btns li a{
  text-decoration: none !important;

  border: 1px solid rgba(6, 22, 36, 0.101);
  border-radius: 10px 10px 10px 10px;
  height: 36px;
  min-width: 37px !important;

  text-align: center;
  background-color: #fff;
  font: 14px/1.2 Helvetica , sans-serif ;
  color: #061624;
  letter-spacing: 0px;
  opacity: 0.69;
  padding-top: 8px;
}

.invf-paginate-btns a{
  text-decoration: none;
}


.invf-paginate-btns li:not(.invf-nav-arrow) a:hover,
.invf-paginate-btns li.active a{
  background-color: #D1ECF7;
  border: 1px solid #007DA5;
  color: #007DA5;
}

.invf-paginate-btns .invf-nav-arrow a{
  padding-left: 15px;
  padding-right: 15px;
}


.invf-paginate-btns .invf-nav-arrow:not(.disabled) a:hover{
  border: 1px solid #007DA5;
  color: #007DA5;
}

.invf-paginate-btns .disabled a{
  border: none;
  cursor:default;
  background-color: #fff;
}


