.p-dialog-header{
  padding: 0px;
  border-radius: 0px !important;
}

.invf-form-header{
  background-color: #007DA5 !important;
  height: 46px !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
}


.invf-form-header-container{
  display: flex;
  align-self: center;
  vertical-align: middle;
}


.invf-form-header-icon svg{
  color: white;
}

.invf-form-header-title{
  font: 500 20px/1.2 Helvetica , sans-serif;
  color: white;
  letter-spacing: 0px;
  margin-left: 8px;
}

.invf-form-header-close{
  margin-left: auto;
  cursor: pointer;
}


.invf-form-header-close svg{
  color: #007DA5;
}

.invf-form-header-icon svg,
.invf-form-header-close svg{
  margin-top: -10px;
  margin-left: 5px;
  font-size: 14px ;
  font-weight: 100;
}

.invf-form-header-icon,
.invf-form-header-close{
  background-color: black;
  height: 24px;
  width: 24px;
  border-radius: 12px;
}

.p-dialog-footer{
  padding: 0px !important;
}

.invf-form{
  width: 100% !important;
  background-color: #767778 !important;
  border-radius: 0px;
  padding: 0px !important;
}

.invf-form form{
  width: 100%;
}
.invf-main-form{
  width: 820px;
}




