
.invf-alerte-header{
  background-image: url("../../assets/img/bg-alerte-top.png") !important;
  background-repeat: no-repeat !important;
  border-radius: 10px 10px 0px 0px !important;
}

.invf-alerte-header-close{
  margin-left: auto;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5px;
  padding-right: 0.5px;
  font-size: 16px;
  cursor: pointer;
}

.invf-alert-content{
  background-image: url("../../assets/img/bg-alerte-bottom.png") !important;
  background-repeat: no-repeat !important;
  background-position: right bottom !important;
 
}
.invf-alert-img{
  background-repeat: no-repeat !important;
  background-size: 50%;
  background-position: center center;
  height: 120px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}
.invf-alert-img.success{
  background-image: url("../../assets/img/img-alerte-success.png") !important;
}
.invf-alert-img.error{
  background-image: url("../../assets/img/img-alerte-error.png") !important;
}

.invf-alert-title{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.02em;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

}
.invf-alert-title.success{
  color: #00AB44;
}
.invf-alert-title.error{
  color: #EC0000;
}

.invf-alert-description{
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

}


.invf-alerte-footer{
 
  
}

.invf-alert{
  width: 350px !important;

}
.invf-alert,
.invf-alert .p-dialog-footer{
  border-radius: 15px !important;
}


.invf-alerte-header-confirmation{
  border-radius: 15px 15px 0px 0px !important;
  padding-bottom: 0px !important;
}
.invf-alerte-header-close svg,
.invf-alerte-header-confirmation svg{
  margin-top: 1px;
  margin-left: 1px;
}
.invf-alert-text-confirmation{
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #3E3E3E;
}

.invf-alert-title-confirmation{
  margin-top: 15px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 8px;

  
  height: 50px;

  background: rgba(40, 73, 157, 0.09);
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

}

.invf-alert-title-confirmation span{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 143% */


  /* grey_header */

  color: #3E3E3E;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  display: inline-block;
  width: calc(100% - 30px);
  height: 20px;
 

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.invf-alert-title-confirmation svg{
  color: #FAA401;
  font-size: 24px;
}

.invf-alert-label{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 154% */


  /* grey_header */

  color: #3E3E3E;


  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  padding-left: 5px;

}

.invf-alert-btns{
  display: flex;
  align-items: center;
  height: 25px;
  margin-top: 40px;
  margin-left: 5px;
}
.invf-alert-btns>button{
  height: 35px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  font-weight: 500;
  font-size: 16px;
  /* identical to box height, or 143% */
  text-align: center;
  /* text  /  color-text-contrast */
  color: #FFFFFF;
  line-height: 40px;
  border: none;
  margin-right: 15px;
  

}

.invf-alert-btns>button.oui{
  background: #007DA5;
  
}

.invf-alert-btns>button.non{
  background: rgba(250, 164, 1, 0.33);
  color: #2C2D2E;
}
.invf-alert-btns>button:hover{
  opacity: 0.7;
}
