.not_found_bg{
  position:absolute;
  top:0px;
  left:0px;
  height:100vh;
  width:100vw;
  background-size: cover;
  z-index: 1000;
  display: block;
  overflow: hidden;
}
.invf-footer-links{
  z-index: 0;
}

.text-404{

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5%;
  color: #ccc;
  height: 200px;
}


.text-404 .h404{
  font-weight: bold;
  font-size: 110px !important;
}
.text-404 .text{
  font-size: 40px !important;
  margin-top: -30px;
}

.image-404{
  width: 171px;
  height: 250px;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -35px;
  z-index: 999;
}
.justify-center-404{
  margin-left: auto;
  margin-right: auto;
}
.goto-home{
  margin-top: 5px;
  color: #ccc;
  border: 2px solid #ccc;
  border-radius: 20px;
}
.goto-home:hover{
  color: #ccc;
}
.page-401 *{
  color: #aaa;
}