.invf-page-title-icon{
  background-color: #007DA5;
  height: 22px;
  width: 22px;
  border-radius: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invf-page-title-icon svg{
  color: white;
  font-size: 14px;
}

.invf-page-title{
  display: flex;
  margin-bottom: 32px;
}
.invf-page-title-text{
  font: 500 20px/1.2 Helvetica , sans-serif;
  color: black;
  letter-spacing: 0px;
  margin-left: 15px;
}

.invf-page-title-btns{
  margin-left: auto;
}

.invf-page-title-btn{
  border-radius: 16px 16px 16px 16px;
  margin-right: 15px;
  height: 32px;
  min-width: 32px;
  border: none;
  font: 500 12px/1.2 Helvetica , sans-serif;
  color: white;
  letter-spacing: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #007DA5 , #FFD980 )

}

.invf-page-title-btn.close span{
  padding-left: 5px;
  padding-right: 5px;
}
.invf-page-title-btn svg{
  font-size: 18px;
}

