.invf-header{
  padding: 22px 40px 17px 25px;
  display: flex;
  background-color: #fff;
}

.invf-header-search{
  width: 346px;
  height: 40px;
  background-color: #D1ECF7;
  border-radius: 10px;
  padding-top: 3px;
  padding-right: 15px;
}


.invf-header-search input{
  width: 280px;
  height: 35px;
  background-color: #D1ECF7;
  border: none;
  outline: none;
  font-size: 12px/1.2 ;
  color: #061624;
  letter-spacing: 0px;
  opacity: 0.7;
  margin-left: 18px;
  margin-right: 5px;
}
.invf-header-search svg{
  color: #061624;
  opacity: 0.7;
}

.invf-header-notification{
  margin-left: auto;
  padding-top: 8px;
  margin-right: 10px;
  cursor: pointer;
}

.invf-header-notification-icon{
  font-size: 18px;
  color: #061624;
  opacity: 0.7;
}

.invf-header-notification-dot{
  background-color: #ff2222;
  height: 4px;
  width: 4px;
  border-radius: 5px;
  position: absolute;
  margin-top: 6px;
  margin-left: 12px;
}

.invf-header-acount{
  cursor: default !important;
  background-color: #007DA5;
  border: 1px solid #007DA5;
  border-radius: 10px 10px 10px 10px;
  height: 43px;
  width: 250px;
  padding: 5px 10px;
  display: flex;


  font-size: 14px/1.2 ;
  color: white;
  text-align: right;
  letter-spacing: 0px;
  cursor: pointer;
  

}
.fa-user{
  font-size: 22px;
  opacity: 0.7;
  margin-right: 5px;
  height: 30px;
  background-color: #FFFFFFAF;
  width: 28px;
  padding: 2px;
  border-radius: 5px;
  
}
.icon-arrow-down{
  margin-left: auto;
  margin-top: 3px;
  font-size: 18px;
}

.invf-header-acount > span{
  margin-top: 2px;
  margin-left: 5px;
  overflow: hidden;
  text-align: left;
  height: 24px;
}

.invf-logout-item{
  background-size: cover;
  border-radius: 0px 0px 10px 10px;
  height:50px;
 
  
}

.invf-menu-profile>ul{
  border-radius: 13px;
  padding: 0px;
  background-color: #061624;
  background-position: top;
  background-size: 80%;
  background-repeat: no-repeat;
  
}
.invf-logout-item{
  padding-right: 0px;

}
.invf-logout-item>div{
  display: flex;

  
}

.header-logout-icon{
  background-color: #fff;
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 11px;
  margin-top: 16px;
  margin-left: 16px;
  cursor: pointer;
  color: #000;
}
.header-logout-icon svg{
  
  font-size: 14px;
}
.header-logout-icon:hover{
  background-color: #000;
  color: #fff;

}
.header-username{
  color: #fff;
  padding-top: 8px;
  height: 22px;
  width: 165px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-userrole{
  color: #fff;
  font-size: 12px;
  text-transform: none !important;
  width: 165px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.header-userinfo{
  width: 75%;
}
.profile-item{
  height: 150px;
  padding: 0px;
  overflow: hidden;
  border-radius: 10px;
}
.invf-role-bage{
  background: linear-gradient(100deg, #007DA5 10%, #FCB775 100%);
  width: 47.83px;
  height: 50px;
  border-radius: 25px;
  position: static;
  float: right;
  margin-top: -2px;
  margin-right: -10px;
}
.invf-role-bage>div{
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 15px;
  margin-left: 10px;
}
.invf-role-bage svg{
  margin-left: 4px;
  color: #061624;
}




@media only screen and (max-height: 768px) {
  .invf-header{
    padding: 10px 30px 10px 25px;
  }
}
