.invf-body-container{
  display: flex;
}

.invf-body-container-command{
  width: 400px;
  background-color: #616989;
}

.detail-produit{
  border-radius: 10px;
  height: calc(0.3*calc(100vh - 147px)); /*35% of the size of his parent*/
  background-color: #fff;
  display: flex;
}

.detail-produit-img{
  border-radius: 10px;
  background: #007DA5;
  height: 80%;
  width: 25%;
  align-self: center;
  margin-left: 2%;
  display: flex;
  justify-content: center;
}

.detail-produit-img>img{
  height: 60%;
  align-self: center;
}

.detail-produit-text{
  width: 55%;
  margin-top: 2%;
  padding-left: 25px;
  color: #33344F;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* or 117% */


  letter-spacing: 0.23px;
  
  margin-bottom: 3%;
  border-bottom-width: 3px;

}

.detail-produit-text hr{
  width: 70%;
}
.detail-produit-text .description{
  height: 34%;
}
.detail-produit-prix{
  width: 21%;
  background: #007DA5;
  border-radius: 0px 8px 8px 0px;
}

.detail-produit-date{
  height: 25%;
  padding-top: 10% ;
  display: flex;
  vertical-align: bottom;
  
}

.detail-produit-date>div{
  display: inline-block;
  width: 50%;
  color: #FFFFFF;
  text-align: left !important;
}

.detail-produit-date>div:nth-of-type(1){
  padding-left: 8%;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  /* or 100% */
  display: flex;
  align-items: center;
  
  mix-blend-mode: normal;
  opacity: 0.8;
  
}
.detail-produit-date>div:nth-of-type(2){
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  /* or 100% */

  text-align: right;
  text-transform: uppercase;

  color: #FFFFFF;
  

}


.detail-produit-prix-value{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.detail-produit-prix-value>div{
  height: 90px;
  border: 2px solid #fff;
  width: 90px;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-produit-prix-value>div>div{
  background-color: #fff;
  height: 80px;
  width: 80px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detail-produit-prix-value .prix{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  text-align: right;
  color: #007DA5;
  float: right;
  margin-left: auto;
  margin-right: 10px;
}

.detail-produit-prix-value .currency{
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  text-align: right;
  text-transform: uppercase;

  color: #007DA5;

  mix-blend-mode: normal;
  opacity: 0.7;
  float: right;
  margin-left: auto;
  margin-right: 10px;
  margin-top: -5px;
  
}

.detail-produit-commander{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding-bottom: 8px;
  

}
.detail-produit-commander>button{
  background: #007DA5;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  /* or 138% */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.95;
  height: 30px;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.detail-produit-commander>button:not(.disabled):hover{
  transform: scale(1.02);
}

.detail-produit-name{
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  display: flex;
  align-items: center;

  color: #FF8212;
}


.detail-produit-text .title{


  color: #FF8212;
}

button.disabled{
  background-color: #999;
}

.detail-produit-quantites{
  height: calc(0.2*calc(100vh - 147px)); /*155px;*/
  min-height: 155px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 15px;
  display: flex;

}



.detail-quantites{
  width: 60%;
  padding: 15px 5px 0px 20px;
  display: grid;
}
.detail-quantites>div:nth-of-type(1){
  grid-column: 1;
  grid-row: 1;
}
.detail-quantites>div:nth-of-type(2){
  grid-column: 2;
  grid-row: 1;
}
.detail-quantites>div:nth-of-type(3){
  grid-column: 3;
  grid-row: 1;
}
.detail-quantites>div:nth-of-type(4){
  grid-column: 1;
  grid-row: 2;
}
.detail-quantites>div:nth-of-type(5){
  grid-column: 2;
  grid-row: 2;
}
.detail-quantites>div:nth-of-type(6){
  grid-column: 3;
  grid-row: 2;
}


.detail-quantites>div{
  display: flex;
  margin: 0px 5px 15px 0px; 
}

.detail-number{
  background-color: #007DA5;
  max-width: 50px;
  min-width: 50px;
  height: 42px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 28px;
  line-height: 23px;
  /* or 72% */
  
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.23px;
  
  color: #FFFFFF;
  margin: 10px ;
}

.detail-date{
  width: 40%;
  background: #007DA5;
  border-radius: 0px 8px 8px 0px;
  height: 100%;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  /* or 127% */

  display: flex;
  align-items: center;
  padding-left: 5%;

  color: #FFFFFF;
}
.detail-date>div>div{
  font-size: 40px;
  line-height: 42px;
}

.detail-date svg{
  font-size: 40px;
  margin-left: 35px;
}
.detail-quantites-text{
  padding: 5px 0px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* or 117% */


  letter-spacing: 0.23px;

  color: #33344F;
}

.detail-quantites-text .title{
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  /* or 117% */

  display: flex;
  align-items: center;
  letter-spacing: 0.23px;

  color: #007DA5;
  margin-top: 5px;
}


.detail-10-transactions{
  height: calc(0.33*calc(100vh - 147px)); /*155px;*/
  background-color: #fff;
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
}

.detail-10-transactions-text{
  width: 45%;
  background-color: #007DA5;
  height: 100%;
}

.detail-10-transactions-table{
  width: 55%;
  height: 100%;
  padding-right: 15px;
  overflow-y: auto;
}


/* width */
.sc-dmRaPn.lhFVLb::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.sc-dmRaPn.lhFVLb::-webkit-scrollbar-track {
  border-radius: 2px;
  margin-top: 25px;
  margin-bottom: 25px;
}
 
/* Handle */
.sc-dmRaPn.lhFVLb::-webkit-scrollbar-thumb {
  background: rgba(255, 130, 18, 0.33);
  border-radius: 10px;
}

/* Handle on hover */
.sc-dmRaPn.lhFVLb::-webkit-scrollbar-thumb:hover {
  background: #ccc; 
}

.detail-10-transactions-text{
  font-weight: 700;
  font-size: 48px;
 
  line-height: 49px;
  /* or 102% */

  display: flex;
  align-items: center;

  color: #FFFFFF;
  padding-left: 35px;
}

.detail-10-transactions-text>div>div{
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 5px;
}

.detail-10-transactions-text svg{
  font-size: 55px;
  margin-left: 30px;
}

.sc-dmRaPn.lhFVLb{
  overflow-x: hidden;
}
.detail-10-transactions-table .sc-fLlhyt.ifOHjV{
  display: flex;
}



