
.invf-react-menu{
  margin-top: -10px;
  text-align: left;
}
.invf-react-menu ul > li {
  border-bottom: 2px solid  rgba(221, 218, 218, 0.65);
  padding: 5px 14px;
}
.invf-react-menu ul > li > div{
  width: 100%;
  padding: 5px 14px;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  border-radius: 4px;
}
.invf-react-menu ul > li:hover{
  background-color: transparent;
}
.invf-react-menu ul > li:not(.disabled) > div:hover{
  background: #007DA5;
  color: #FFFFFF;
}
.invf-react-menu ul{
  background: rgba(221, 218, 218, 0.7);
  border-radius: 4px !important;
  min-width: 120px !important;
  padding-bottom: 0px;
  color:rgba(6, 22, 36, 0.7) !important;
}

.invf-react-menu-button{
  border: none;
  background-color: transparent;
  margin-bottom: 5px;
  margin-top: -5px;
}
