.rdt_Table{
  max-height: calc(100vh - 350px);
  min-height: calc(100vh - 450px);
  overflow-y: auto;
  z-index: 999;
  /*background-color: rgba(255,255,255,0.25) !important;*/
 
}

.rdt_TableHeadRow{
  border-bottom-color: rgba(0,0,0,0.05) !important;
  font: 14px/1.2 Helvetica , sans-serif;
  color:rgb(6, 22, 36, 0.7) !important;
  letter-spacing: 0px;

}

.rdt_TableRow{
  border-bottom-color: rgba(0,0,0,0.05) !important;

  font: 14px/1.2 Helvetica , sans-serif;
  color:rgba(6, 22, 36, 0.7) !important;
  letter-spacing: 0px;
  
}

.rdt_TableRow img{
  height: 36px;
  width: 36px;
  margin-right: 10px;
  border-radius: 18px;
}

.rdt_TableRow .invf-state-actif{
  background: rgba(4, 181, 81, 0.15) !important;
  padding: 5px 20px;
  border-radius: 12.96px 12.96px 12.96px 12.96px !important;
  color: rgb(4, 181, 81) !important;
}

.rdt_TableRow .invf-state-inactif{
  background: rgb(241, 49, 49, 0.15) !important;
  padding: 5px 20px;
  border-radius: 12.96px 12.96px 12.96px 12.96px !important;
  color: rgb(241, 49, 49) !important;
}

.invf-imageName{
  display: flex;
}



/*
.rdt_TableCol
.rdt_TableCol_Sortable
.rdt_TableCell
.rdt_TableHeader
.rdt_TableFooter
.rdt_TableHead
.rdt_TableHeadRow
.rdt_TableBody
.rdt_ExpanderRow*/

/*
.rdt_TableCell>div,
.rdt_TableCell{
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.rdt_TableCell>div{
  max-height: 70%;
  text-overflow: ellipsis;
  
}
*/

.rdt_TableRow,
.rdt_TableCell{
  min-width: max-content !important;
  max-width: max-content !important;
  text-align: left;
}
.btn-detail{
  color: #115687;
  justify-content: left;
}

@media only screen and (max-height: 768px) {
  .invf-header{
    padding: 10px 30px 10px 25px;
  }
  
}


.rdt_TableRow{
  color: rgba(6, 22, 36, 0.7) !important;
  border-bottom-color: rgba(0,0,0,0.05) !important;
  

  justify-items: center;
  justify-content: center;
  
}

.rdt_TableRow div{
  display: flex;
  align-items: center;
}


.rdt_TableRow:nth-of-type(2n){
  background-color: #FAFAFA;
}
.rdt_TableRow:hover{
  background-color: #EEEEEE !important;
}
.p-datatable-tbody>tr{
  height: 20px !important;
}

.rdt_TableCell{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  
}
.p-datatable-wrapper{
  height: auto;
  min-height: 320px;
  padding-bottom: 20px;
}
.p-datatable-thead tr{
  height: 42px;
}

.p-datatable-thead tr th{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  font-size: 14px;
}


