
.invf-main{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.invf-nav{
  width: 189px;
  height: 100vh;
  background-color: #fff;
}

.invf-body{
  width: calc(100vw - 189px);
  height: 100vh;
  background-color: #f8f9fa;
}

.invf-main-body{
  padding: 5% 2%;
  z-index: 1;
  /*width: -webkit-fill-available;*/
}
.invf-main-body.collaps{
  width: calc(100% - 400px);
}
.invf-main-body.expand{
  width: 100%;
}

/*  form style */
.invf-swal-form{
  width: 735px !important;
  background-color: #767778 !important;
  padding-bottom: 0px !important;
  border-radius: 0px;

}

.invf-swal-form-header{
  background-color: #007DA5 !important;
  height: 46px !important;
  padding-top: 0px !important;
}


.form-control{
  box-shadow: none !important;
  background-color: white !important;
  border-radius: 4px !important;
  height: 47px;
  font: 500 12px/1.2 Helvetica, sans-serif;
  color: #061624 !important;
  
}


.invf-form-field label{
  font: 500 12px/1.2 Helvetica, sans-serif;
  color: white;
  letter-spacing: 0px;
}
.invf-form-field .p-calendar input:hover{
  border: none;
}
.form-control:focus-visible{
  border: 1px solid #007DA5 !important;
}


.invf-swal-form-header-container{
  display: flex;
  margin-top: 10px;
}


.invf-swal-form-header-icon svg{
  color: white;
}

.invf-swal-form-header-title{
  font: 500 20px/1.2 Helvetica, sans-serif;
  color: white;
  letter-spacing: 0px;
  margin-left: 8px;
}

.invf-swal-form-header-close{
  margin-left: auto;
  cursor: pointer;
}


.invf-swal-form-header-close svg{
  color: #007DA5;
}

.invf-swal-form-header-icon svg,
.invf-swal-form-header-close svg{
  margin-top: -18px;
  font-size: 14px ;
  font-weight: 100;
}

.invf-swal-form-header-icon,
.invf-swal-form-header-close{
  background-color: black;
  height: 24px;
  width: 24px;
  border-radius: 12px;
}

.invf-form-body{
  display: flex !important;
  padding: 5% ;
  flex-wrap: wrap;
}

.invf-form-field:not(.col-12){
  min-width: 47.5% !important;
  
  
  text-align: left;
  height: 100px !important;
  margin-top: 0px !important;
  padding-top: 0px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.invf-form-field .p-calendar input,
.invf-form-field .p-calendar{
  width: 100% !important;
  
}

.invf-form-field .p-calendar{
  padding: 0px;
}

.invf-form-field.ml5{
  margin-left: 5%;
}

.invf-form-submit{
  min-width: 100%;
  
}
.invf-form-submit button{
  height: 48px;
  justify-content: center;
  font: 700 18px/1.2 Helvetica, sans-serif;
  color: white;
  text-align: center;
  letter-spacing: 0px;
  background-color: #007DA5;
  border-radius: 2.25px;
  box-shadow: none !important;
  border: none !important;
  margin-top: 20px;
}

.invf-form-submit button:focus-visible{
  box-shadow: none !important;
  border: none !important;
}

.invf-is-invalid{
  border: 1px solid #CD3C14 !important;
  border-radius: 4px;
}
.invf-form-field>div .text-danger{
  font: 500 20px/1.2 Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 0px;
  border-radius: 4px;
  color: white !important;
  padding: 5px 10px;
  max-height: 35px;
  overflow: hidden;
  

}
.invf-form-field>div .text-danger>svg{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  margin-top: -5px;
}

.invf-form-field-is-invalid{
  background: #CD3C14;
  border-radius: 4px;
}



.swal2-html-container{
  margin: 0px !important;
  
}

.invf-form{
  height: 100% !important;
}

.invf-textarea{
  height: 100px !important;
}

.invf-textarea textarea{
  height: 70px;
}

/* width */
.invf-tiny-scroll::-webkit-scrollbar {
  width: 5px;
}


/* Track */
.invf-tiny-scroll::-webkit-scrollbar-track {
  border-radius: 2px;
}
 
/* Handle */
.invf-tiny-scroll::-webkit-scrollbar-thumb {
  background: #ddd; 
  border-radius: 10px;
}

/* Handle on hover */
.invf-tiny-scroll::-webkit-scrollbar-thumb:hover {
  background: #ccc; 
}

.invf-tiny-scroll{
  scrollbar-color: #ddd transparent;
  scrollbar-width: thin;
}




.invf-cart-body{
  background-color: #616989;
  z-index: 1;
  display: block;
  float: right;
  overflow: hidden;
  position: relative;
}



.invf-main-body,
.invf-cart-body{
  transition: width 0.8s;
}

.invf-cart-body.open{
  width: 400px;
  
  transition: width 0.8s;
}

.invf-cart-body.close{
  width: 0px;
  transition: width 1s;
}

.invf-body-container{
  height: calc(100vh - 80px);
  display: flex;
}

.p-datepicker{
  z-index: 9999 !important;
}

.text-ellipsis{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.invf-detail-panel-open{
  position: absolute;
  width: calc(100vw - 300px);
  right: 0px;
  height: calc(100vh - 127px);
  background: rgba(97, 105, 137, 0.77);
  backdrop-filter: blur(4px);
  z-index: 2;
  transition: width 0.8s;
 
}

.invf-detail-panel-close{
  position: absolute;
  width: 0px;
  right: 0px;
  overflow: hidden;
  height: calc(100vh - 127px);
  background: rgba(97, 105, 137, 0.77);
  backdrop-filter: blur(4px);
  z-index: 1000;
  transition: width 1s;
}


.invf-detail-panel-title{
  height: 48px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  display: flex;
  
  align-items: center;
  vertical-align: middle;
  overflow: hidden;
}
.invf-detail-panel-title span{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: 5%;
  overflow: hidden;
  height: 20px;
}
.invf-detail-panel-title button{
  border: none;
  background-color: transparent;
  color: #fff;
  margin-left: auto;
  position: absolute;
  right: 5px;
  align-items: center;
  vertical-align: middle;
  display: flex;
}
.invf-detail-panel-title button svg{
  font-size: 14px;
}

.invf-detail-panel-content{
  padding: 3% 5%;
  height: calc(100vh - 137px - 48px);
  overflow: auto;
}

.invf-detail-panel-content *{
  overflow: hidden;
}




.css-2613qy-menu,
.form-control-react-select{
  position: absolute;
  z-index: 9999 !important;
}

#react-select-3-listbox{
  z-index: 9999 !important;
}











.lds-roller *,
.lds-roller {
  overflow: visible !important;
}

.lds-roller {
  display: flex;
  position: absolute;
  margin-top: -46px;
  width: 100%;/* 400px;*/
  height: 100%;/* calc(100vh - 145px);*/
  z-index: 9999;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgba(255,255,255,0.2);
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


*{
  font-family:  Arial, sans-serif !important;
}

.invf-main-body>div{
  height: 100%;
}

@media only screen and (max-height: 950px) {
  .invf-main-body{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .invf-paginate{
    margin-top: 15px !important;
  }
  .invf-page-title{
    margin-bottom: 15px !important;
  }
  .rdt_Table{
    min-height: calc(0.566*100vh ) !important;   
  }

  .rdt_TableHeadRow,
  .rdt_TableRow{
    height: 42.5px !important;
    min-height: 42.5px !important;
  }
  .inventaire-range{
    margin-top: -20px;
  }
}



@media only screen and (max-height: 650px) {
  
  .invf-paginate{
    margin-top: 15px !important;
  }
  .invf-page-title{
    margin-bottom: 15px !important;
  }
  .rdt_Table{
    max-height: calc(0.3*100vh ) !important;   
  }

  .div-inventaire .rdt_Table {


    max-height: calc(100vh - 300px) !important;
    min-height: calc(100vh - 450px) !important;
    overflow-y: auto;
    z-index: 999;
    /*background-color: rgba(255,255,255,0.25) !important;*/
   
  }

  .detail-produit-prix-value>div{
    height: 60px;
    width: 60px;
  }
  
  .detail-produit-prix-value>div>div{
    height: 50px;
    width: 50px;
  }
  .detail-produit-date{
    height: 45px;
    margin-top: -15px;
    
  }
  .detail-produit-date>div:nth-child(2){
    font-size: 14px !important;
    margin-left: 5px;
    margin-top: 5px;
  }

  
}

.invf-state-inactif,
.invf-state-actif{
  width: min-content;
}

.w-100{
  width: 100% !important;
}

.mt-50{
  margin-top: 5% !important;
}