.invf-nav-logo{
  height: 80px;
  display: flex;
  padding: 22px;
  padding-top: 10px;
  cursor: pointer;
  text-decoration: none;
  background-image: url("../../assets/img/logo.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.invf-nav-menus{
  padding-top: 0px;
  max-height: calc(100vh - 410px);
  overflow-y: auto;
  padding-bottom: 5px;
  overflow-x: hidden;
}

.invf-nav-menu{
  display: block;
  overflow: visible;
}


.invf-nav-menu,
.invf-nav-menus .mantine-Accordion-control{
  text-decoration: none;
  font: 500 16px/1.2 Helvetica , sans-serif;
  color: #9ba2a7;
  letter-spacing: 0px;
  margin-left: 8px;
  margin-right: 8px;
  height: 32px;
  width:  168px;
  margin-top: 3px;
  padding-top: 6px;
}

/*
.invf-nav-menus .mantine-Accordion-control.link,
.invf-nav-menus .mantine-Accordion-item a,
.invf-nav-menus .mantine-Accordion-control[aria-expanded="true"]{
  background-color: transparent;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 5px;
  padding-top: 10px;
  width:  168px;
  text-decoration: none;
  font: 500 16px/1.2 Helvetica , sans-serif;
  color: #9ba2a7 !important;
  letter-spacing: 0px;
}*/

.invf-nav-menus .mantine-Accordion-control.link,
.invf-nav-menus .mantine-Accordion-item a{
  font-size: 12px;
  padding: 7px 12px !important;  
  border-radius: 8px;
  margin-top: 2px;
  font-weight: 600;
  text-decoration: none;
  max-width: 140px;
  height: 30px;
  margin-left: 4px;

  background-color: transparent;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 5px;
  padding-top: 10px;
  width:  168px;
  text-decoration: none;
  font: 500 16px/1.2 Helvetica , sans-serif;
  color: #9ba2a7 !important;
  letter-spacing: 0px;
}

.invf-nav-menus .mantine-Accordion-control.link{
  margin-left: 8px;
  margin-right: 8px;
  padding-left:  4px !important;
  padding-right: 6px;
  padding-top: 4px !important;
  color: #A1A1A1 !important;
  align-items: center;
  width:  168px !important;
  max-width: 168px;
  margin-top: 3px;
}
.invf-nav-menus .mantine-Accordion-item a{
  height: 25px;
  padding-top: 3px !important;
  margin-top: 3px;
}
.invf-nav-menus .mantine-Accordion-control.link .icon svg{
  font-size: 16px !important;
}
.invf-nav-menus .mantine-Accordion-control.link .icon{
  padding-left: 8px;
  margin-right: 2px !important;
}

.invf-nav-menus .mantine-Accordion-control[aria-expanded="true"],
.invf-nav-menus .mantine-Accordion-control:hover,
.invf-nav-menu.active,
.invf-nav-menu:hover{
  background-color: #D1ECF7;
  border-radius: 10px 10px 10px 10px;
  color: #007DA5;
}

.invf-nav-menu  svg{
  font-size: 25px;
}
.invf-nav-menu  span{
  padding-left: 11px;
  font: 500 16px/1.2 Helvetica , sans-serif;
  letter-spacing: 0px;
}

.invf-nav-guide{
  padding-top: 50px;
  background-color: #fff !important;
  height: 50px;
  padding-left: 18px;
  position: absolute;
  bottom: calc(0.02*100vh + 260px);
}
.invf-nav-guide-img{
  margin-top: -50px;
  height: 140px;
  width: 141px;
  border-radius: 10px 10px 0px 0px;
  background-image: url('../../assets/img/admin.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #fff;
}
.invf-nav-guide-text{
  background-color: #007DA5;
  border-radius: 0px 0px 10px 10px;
  margin-top: 2px;
  height: 43px;
  width: 141px;
  font: 300 1em/1.27 Helvetica , sans-serif;
  color: #ffffffff;
  letter-spacing: 0px;
  font-size: 11px;
  padding-left: 8px;
  padding-top: 8px;
}

.invf-nav-logout{
  position: absolute;
  bottom: 65px;
  left: 25px;
  cursor: pointer;
  background-image: url('../../assets/img/logout.png');
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 25px;
}

.invf-nav-logout >svg{
  font-size: 28px;

}

.invf-changer-inf{
  cursor: pointer;
}
.invf-changer-inf:hover{
  color: #007DA5;
}



.nav-arrow{
  top: 10px;
}



.invf-nav-menus .mantine-Accordion-control{
  padding: 8px 12px;
}



.invf-nav-menus .mantine-Accordion-label{
  display: flex;
  align-items: center;

  overflow: visible;
}

.invf-nav-menus  .icon{
  margin-right: 12px;
  font-size: 16px;
}

.invf-nav-menus .title{
  font-size: 14px;
  font-weight: 600;
  overflow: visible;
  
}

.invf-nav-menus .mantine-Accordion-item{
  border: 0px solid transparent;
}



.invf-nav-menus .mantine-Accordion-control.link:hover,
.invf-nav-menus .mantine-Accordion-control.link.active,
.invf-nav-menus .mantine-Accordion-item a.active,
.invf-nav-menus .mantine-Accordion-item a:hover{
  background: #D1ECF7;
  color: #007DA5 !important;
}



.invf-nav-menus .mantine-Accordion-content{
  padding: 0px 0px;
  border-left: 1px solid #007DA5;
  margin-left: 26px;
}




@media only screen and (max-height: 768px) {
  .invf-nav-logout{
    bottom: 25px;
  }
  .invf-nav-guide-img{
    margin-top: -45px;
    height: 128px;
    width: 141px;
    background-size: 100%;
  }
  .invf-nav-guide{
    bottom: calc(0.02*100vh + 170px);
  }
  .invf-nav-menus{
    max-height: calc(100vh - 313px);
  }



  .invf-nav-menu{
    height: 38px;
    width:  168px;
    margin-top: 3px;
    padding-top: 6px;
  }


}

